.homepage-main-container{
  max-width: 70vw;
  margin: 0 auto;
  .homepage-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .right-home{
      margin-bottom: 20px;
      .koiads-main-container{
        margin-bottom: 20px;
      }
    }
    .left-home{
      display: flex;
    flex-direction: column;
    }
  }
}
