// Variables
$primary-color: #1890ff;
$background-color: #f0f2f5;
$text-color: #333;
$error-color: #ff4d4f;

.register-page {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: $background-color;
  background-image: url('src/assets/e784cf131cd505a4d472881e0ba2a0ef.png');
  background-size: cover;

  .authen-template {
    background: #fff;
    padding: 40px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 600px;

    .ant-form-item-label > label {
      color: $text-color;
      font-weight: 500;
      font-size: 14px;
    }

    .ant-form-item {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .ant-input {
      padding: 10px;
      border-radius: 4px;
      border: 1px solid #d9d9d9;
      transition: border-color 0.3s ease;

      &:focus,
      &:hover {
        border-color: $primary-color;
        box-shadow: none;
      }
    }

    .ant-input-password {
      .ant-input {
        padding: 10px;
      }
    }

    .ant-btn-primary {
      background-color: $primary-color;
      border-color: $primary-color;
      width: 100%;
      height: 50px;
      padding: 10px;
      font-size: 20px;
      border-radius: 4px;
      transition: background-color 0.3s ease;
      

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }

    .ant-btn {
      display: block;
      margin-top: 20px;
    }

    .ant-form-explain,
    .ant-form-item-explain {
      color: $error-color;
    }

    .login-link {
      display: block;
      margin-top: 15px;
      text-align: center;
      font-size: 14px;

      a {
        color: $primary-color;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

