.tabFormContainer {
  width: 700px; /* Container width */
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
p {
  margin-bottom: 0;
}
.tabs {
  display: flex; /* Use flexbox for horizontal layout */
  width: fit-content;
  box-shadow: 1.38px 1.38px 6.89px 0 rgba(0, 0, 0, 0.5);
}

.tabButton {
  color: black;
  background-color: #ddd;
  width: fit-content;
  padding: 0px 10px;
  height: 35px;
  border: none;
  border-radius: 10px 10px 0 0; /* Rounded corners for the top */
  cursor: pointer;
  transition: background 0.3s;
  position: relative; /* For z-index control */
  margin-right: -20px; /* Overlap by 10px */
  border: solid #a30014 1px; /* Add border */
}

.submit-btn {
  color: #342303;
  background: linear-gradient(
    90deg,
    rgba(214, 180, 78, 1) 0%,
    rgba(243, 221, 158, 1) 35%
  );
  border-radius: 10px;
  border: #a30014 solid 1px;
  width: 200px;
  height: 45px;
  margin-top: 10px;
}

.form-footer {
  display: flex;
  justify-content: flex-end;
}

.heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
}

.caption {
  font-size: 16px;
  text-align: center;
  margin-bottom: 15px;
}

#highlight {
  text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.tabs button:hover {
  box-shadow: 0 4px 8px rgba(113, 5, 5, 0.557);
}

.inactiveTab1 {
  padding-right: 25px;
}

.inactiveTab2 {
  padding-left: 25px;
}
.activeTab1,
.activeTab2 {
  z-index: 2;
  width: fit-content;
  padding: 0px 10px;
  color: white;
  background-color: #a30014;
  font-weight: 500;
  border: solid #a30014 1px;
}

.formContainer {
  padding: 35px;
  display: flex;
  justify-content: center;
  border-radius: 0 12px 12px 12px;
  align-items: center;
  color: white;
  background-color: #a30014;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Adjusted shadow */
}

.form {
  width: 100%; /* Form takes the full width */
  display: flex;
  flex-direction: column;
  
  label {
    font-size: 18px;
    margin-bottom: 5px;
    min-width: 50px;
  }
  
  input,select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
}


