.element-result-main-container {
  margin: 100px auto;
  .element-result-container {
    border: solid 3px #a30014;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.557);
    border-radius: 12px;
    width: 700px;
    height: 400px;
    margin-top: 100px;
    position: relative;
    
    #kim{
      border: solid 3px #cccccc;
    }
    #moc{
      border: solid 3px #a3cc33;
    }
    #thuy{
      border: solid 3px #66ccff;
    }
    #hoa{
      border: solid 3px #bb0016;
    }
    #tho{
      border: solid 3px #999966;
    }
    .image {
      position: absolute;
      border-radius: 50%;
      box-shadow: 0 4px 8px rgba(113, 5, 5, 0.557);
      top: -50px;
      left: 30px;  
    }
    .name-info {
      margin: 10px 0 0 300px;
      font-size: 20px;
      font-weight: 400;
    }
    
    .result {
      margin: 70px 0 0 30px;
      font-size: 20px;
      font-weight: 400;
    }
  }
}